

:root{
    /* page fonts */
    --headers: "Edu AU VIC WA NT Hand", cursive;
    --paragraph: "Arimo", sans-serif;
    --color_orange_dk:#8a3f04;
    --color_orange_lit:#bf5704;
    --color_yellow:#e6f202;
    --bg_color: #000;
    --white: #fff;
    --text-color: #dddddd80;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    background: var(--bg_color);
    color: var(--text-color);
    font-size: 1.08rem;
    font-weight: 400;
    font-family: var(--paragraph);
}

/* section one styling */
.section_1{
    width: 100%;
    height: auto;
    padding: 1rem 0px;
}

header{
    width: 100%;
    height: 6rem;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


/* logo styling */
.logo{
    width: 6.875rem; /*110px*/
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 10px;
    font-family: var(--headers);
}
/* logo image */
.logo img{
    width: 3rem;
}

.logo marquee{
    color: var(--color_yellow);
}

.logo span{
    color: var(--color_orange_lit);
    font-weight: 900;
    font-size: 1.1rem;
    font-family: var(--headers);
}

/* nav */
nav{
    /* flex: 1; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul.list{
    list-style-type: none;
    width: 30rem;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 4rem;
}

.list_item{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* menu link */

.list_link{
    text-decoration: none;
    color: var(--white);
    font-size: 1rem;
    letter-spacing: 2px;
    cursor: pointer;
    transition: color 300ms ease-in,
        text-decoration 280ms ease,
        transform 300ms ease
    ;
}

/* hover state  */
.list_link:hover{
    color: var(--color_orange_lit);
    /* font-weight: 600; */
    text-decoration: underline;
    text-decoration-color: var(--color_orange_lit);
    text-decoration-thickness: 2px;
    text-underline-offset: 20px;
    transform: scale(1.074);
}
.list_link:active{
    transform: translateY(4px);
}

/* header menu btn */
.menu_btn{
    width: 18.75rem;/*300px*/
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    perspective: 800px;
}

/* btn combine styling */
.cta{
    width: 7.8125rem;
    padding: 0.5625rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 350ms ease;
}

#getApp{
    background-color: var(--color_orange_dk);
    color: var(--white);
}
/* hover state */
#getApp:hover{
    background-color: transparent;
    color: var(--color_orange_lit);
    border: 2px solid var(--color_orange_dk);
    transform: translateZ(90px);
}
#getApp:active{
    transform: translateY(4px);
}
#menu_list{
    background-color: transparent;
    color: var(--color_orange_lit);
    border: 2px solid var(--color_orange_dk);
}

#menu_list:hover{
    transform: translateZ(90px);
    background-color: var(--color_orange_dk);
    color: var(--white);
}
#menu_list:active{
    transform: translateY(4px);
}

/* reponsive media queiry @480px  */

@media (max-width: 768px) {
    header{
        padding: 2rem 0.84rem;
        position: relative;
        background-color: #111;
    }

    .logo{
        height: auto;
    }

    nav{
        position: absolute;
        top: 6rem;
        left: 0px;
        width: 100%;
        background-color: #222;

        max-height: 0px;
        visibility: hidden;
        transition: max-height 380px ease,
            visibility 350ms ease
        ;
    }
    header.active nav{
        z-index: 10;
        max-height: 21.875rem;/*350px */
        visibility: visible;
        animation: fadeIn 0.7s ease-in;
        /* the animation above will create a fade in effect */
    }

    @keyframes fadeIn{
        from{
            opacity: 0;
            transform: translateY(-12px);
        }
        to{
            opacity: 1;
            transform: translateY(0px);
        }
    }

    .logo img{
        width: 3.4rem;
    }
    ul.list{
        margin-left: 0px;
    }

    .menu_btn{
        width: 240px;
        padding-right: 1.5rem;
        flex-direction: column-reverse;
        row-gap: 0.49rem;
        align-items: flex-end;
        /* border: 1px solid blue; */
    }
    .cta{
        width: 6.8rem; /* 125px*/
    }

    #getApp{
        align-self: flex-start;
    }

    /*  */
    .toggle__bar{
        position: relative;
        width: 2rem;/* 32px*/
        height: 1.875rem; /* 30px*/
        right: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .toggle__bar::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: var(--color_orange_dk);
        transform: translateY(-12px);
        box-shadow: 0 12px var(--color_orange_dk);
        transition: .6s ;
    }
    .toggle__bar::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: var(--color_orange_dk);
        transform: translateY(12px);
        transition: .6s;
    }
    header.active .toggle__bar::before{
        box-shadow: 0 0 var(--color_orange_dk);
        transform: rotate(45deg);
        transition: .6s ;
    }
    header.active .toggle__bar::after{
        transform: rotate(315deg);
        transition: .6s;
    }
}
@media (max-width: 480px) {

    nav{
        position: absolute;
        top: 6rem;
        left: 0px;
        /* height: auto; */
        flex-direction: column;
        background-color: #222;
        padding: 1rem;
        row-gap: 2rem;

        height: 100vh; 
        width: 0px;
        /* visibility: hidden; */
        transition: max-height 380px ease,
            visibility 350ms ease
        ;
    }
    header.active nav{
        z-index: 10;
        width: 60%;/*350px */
        visibility: visible;
        animation: fadeIn 0.7s ease-in;
        /* the animation above will create a fade in effect */
    }

    @keyframes fadeIn{
        from{
            opacity: 0;
            transform: translateX(-12px);
        }
        to{
            opacity: 1;
            transform: translateY(0px);
        }
    }

    .logo img{
        width: 3.4rem;
    }
    ul.list{
        width: 100%;
        margin-left: 0px;
        row-gap: 2rem;
        flex-direction: column;
    }
    .list_link{
        width: 100%;
        margin-left: 25px;
        row-gap: 1rem;
        flex-direction: column;
    }
    .list_link:hover{
        text-decoration: none;
    }

    .menu_btn{
        width: 100%;
        padding-right: 1.5rem;
        flex-direction: row;
        column-gap: 0.8rem;
        align-items:center;
        justify-content: center;
    }
    .cta{
        width: 6.8rem; /* 125px*/
    }

    #getApp{
        align-self: flex-start;
    }

    /*  */
    .toggle__bar{
        position: relative;
        width: 2rem;/* 32px*/
        height: 1.875rem; /* 30px*/
        right: 3rem;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }
    .toggle__bar::before{
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: var(--color_orange_dk);
        transform: translateY(-12px);
        box-shadow: 0 12px var(--color_orange_dk);
        transition: .6s ;
    }
    .toggle__bar::after{
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background-color: var(--color_orange_dk);
        transform: translateY(12px);
        transition: .6s;
    }
    header.active .toggle__bar::before{
        box-shadow: 0 0 var(--color_orange_dk);
        transform: rotate(45deg);
        transition: .6s ;
    }
    header.active .toggle__bar::after{
        transform: rotate(315deg);
        transition: .6s;
    }
}


/* #### hero section container  styling ####*/

.hero__container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 0px 6.25rem; 100px */
    /* border: 1px solid white; */
}

.hero__content,
.hero__img{
    padding-top:200px ;
}
.hero__content{
    height: 100%;
    width: 100%;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    row-gap: 2rem;
    padding-left: 6.25rem; /*100px*/
    /* align-items: center; */
}

.hero__content h1{
    font-family: var(--headers);
    font-size: 3.5rem;
    font-weight: 500;
    width: 100%;
    padding: 1rem 0.5rem;
}
.hero__content h1 span{
    background-color: var(--color_orange_dk);
    border-radius: 4px;
}

.hero__content p{
    line-height: 40px;
    word-spacing: 5px;
    width: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    /* padding: 1rem; */
}

.orangeCol{
    color: var(--color_orange_lit);
    font-weight: 800;
    font-size: 1.6rem;
}
.yellowCol{
    color: var(--color_yellow);
    font-weight: 800;
    font-size: 1.6rem;
}

.hero__btn__wrap{
    width: 80%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3rem;
    perspective: 800px;
}

.hero__btn{
    width: 12.5rem;/*200px*/
    height: 2.5rem;/*40px*/
    border-radius: 15px;
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 1.2rem;
    font-weight: 600;
    transition: transform 450ms ease,
        color 400ms ease, 
        background-color 400ms ease-in,
        border 400ms ease-in
    ;
}

#orderNow{
    background-color: var(--color_orange_dk);
    color: var(--white); 
}
#orderNow:hover{
    background-color: transparent;
    color: var(--color_orange_lit);
    border: 2px solid var(--color_orange_dk);
    transform: translateZ(90px);
}
#orderNow:active{
    transform: translateY(4px);
}

#preOrder{
    background-color: transparent;
    color: var(--color_orange_lit);
    border: 2px solid var(--color_orange_dk);
}
#preOrder:hover{
    transform: translateZ(90px);
    background-color: var(--color_orange_dk);
    color: var(--white);
}
#preOrder:active{
    transform: translateY(4px);
}



/* hero img styling */
.hero__img{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* border: 1px solid red; */
    /* background: url(/img/burger-arrange-removebg-preview.png) no-repeat center center/ cover; */
}


.hero__img img{
    /* width: 100%; */
    width: 85%;/* 700px*/
    object-fit: contain;
    /* margin-right: 5rem; */
    transform: rotate(15deg);
    /* border: 1px solid green; */
}

/* marquee tag */
marquee{
    display: flex;
    /* justify-content: space-around; */
}

marquee p{
    display: inline-block;
    margin-right: 300px;
}


/* Reponsive medie query @992px */
@media (max-width: 992px) {
    header{
        padding: 0px 50px;
    }

    .hero__container{
        width: 100%;
    }

    .hero__content,
    .hero__img{
        padding-top: 120px;
    }

    .hero__content{
        padding-left: 3.125rem;/*50px*/
        /* align-self: flex-end; */
    }
    .hero__content h1{
        font-size: 2.2rem;
        text-align: center;
        width: 100%;
    }
    .hero__content p{
        font-size: 1.3rem;
        width: 100%;
        text-align: center;
    }

    .hero__btn__wrap{
        width: 100%;
    }

    .orangeCol,.yellowCol{
        font-size: 1.4rem;
    }
    .hero__btn{
        width: 10.3rem;
    }

    .hero__img{
        position: relative;
    }

    .hero__img img{
        width: 30rem;
        object-fit: contain;
        
        position: absolute;
        right: 60px;
        margin-right: 0px;
        z-index: 10;
    }
}

@media (max-width: 768px) {

    .hero__container{
        width: 100%;
        flex-direction: column;
    }

    .hero__content,
    .hero__img{
        padding-top: 120px;
    }

    .hero__content{
        padding-left: 3.125rem;/*50px*/
        /* align-self: flex-end; */
    }
    .hero__content h1{
        font-size: 3rem;
        text-align: center;
        width: 100%;
    }
    .hero__content p{
        font-size: 1.1rem;
        line-height: 30px;
        width: 100%;
        text-align: center;
    }

    .hero__btn__wrap{
        width: 100%;
    }

    .orangeCol,.yellowCol{
        font-size: 1.4rem;
    }
    marquee p .orangeCol, marquee p .yellowCol{
        font-size: 1rem;
    }
    .hero__btn{
        width: 10.3rem;
    }

    .hero__img{
        position: relative;
        padding-top: 50px;
    }

    .hero__img img{
        width: 25rem;
        object-fit: contain;
        
        position: absolute;
        right: 60px;
        transform: translate(-50px,-50px) rotate(20deg);
        margin-right: 0px;
        z-index: 10;
    }
}
@media (max-width: 480px) {

    .hero__container{
        flex-direction: column;
    }

    .hero__content,
    .hero__img{
        padding-top: 100px;
    }

    .hero__content{
        padding-left: 1rem;/*50px*/
        /* align-self: flex-end; */
    }
    .hero__content h1{
        font-size: 2.3rem;
        text-align: center;
        width: 100%;
    }
    .hero__content p{
        font-size: 1.1rem;
        line-height: 30px;
        width: 100%;
        text-align: center;
    }

    .hero__btn__wrap{
        width: 100%;
    }

    .orangeCol,.yellowCol{
        font-size: 1.2rem;
    }
    marquee p .orangeCol, marquee p .yellowCol{
        font-size: 1rem;
    }
    .hero__btn{
        width: 7.3rem;
        font-size: 1rem;
        font-weight: 500;
    }

    .hero__img{
        position: relative;
        padding-top: 30px;
    }

    .hero__img img{
        width: 80%;
        object-fit: contain;
        
        position: absolute;
        left: 60px;
        transform: translate(-50px,-50px) rotate(20deg);
        margin-right: 0px;
        z-index: 10;
    }
}


/* ############## section 2 ############## */
.section_2{
    width: 100%;
    height: auto;
    padding: 9.375rem 6.125rem; /*98px and 150px*/
}

.sect_2__wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 3rem;
}

/* sections h2's */
.sect_2__wrap h2,
.sect__3__wrap h2,
#sect__4__wrap h2,
.footer__wrap h2{
    font-family: var(--headers);
    letter-spacing: 3px;
    font-size: 2.5rem;
}

.burgar__card__wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    row-gap: 3.5rem;
    padding: 1rem;
}

.top__card,
.bottom__card{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    perspective: 800px;
}

.burgar__card{
    width: 30%; /*500px*/
    height: auto;/*600px  37.5rem*/
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    background: var(--text-color);
    color: var(--bg_color);
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    transition: transform 450ms ease-in;
}


.burgar__card:hover{
    /* transform: translateZ(50px); */
    transform: scale(1.094);
    box-shadow: 0 4px 6px 0 rgba(255,255,255,0.12),
    0 6px 12px 0 rgba(255,225,225,0.19)
    ;
}

.card__img_wrap{
    width: 90%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
    z-index: 1;
    position: relative;
    /* background: linear-gradient( to top, rgba(0,0,0,0.5)50%,
    rgba(0,0,0,0.5)50%
    ),url(/img/burgar_&_chips.jpg) no-repeat center center/ cover; */
}


.card__img_wrap img{
    width: 100%;
    height: 100%;
    z-index: -2;
    object-fit: fill;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
}

.overley{
    position: absolute;
    top: 0; right: 0; left: 0; bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
}


/* card content styling */
.card__content{
    flex: 1;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    row-gap: 5px;
}

.card__content h3{
    font-family: var(--headers);
    font-size: 1.4rem;
}

.card__content p{
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.5;
    color: #444;
    text-align: center;
}

.card_bottom{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.order__Rating{
    background-color: var(--color_orange_dk);
    border-radius: 15px;
    padding: 0.48rem 1rem;
}




/* ######## repoinsive media query 992px ######*/

@media (max-width: 992px) {
    .section_2{
        padding: 3.125rem;
    }

    .burgar__card{
        width: 400px;
        height: auto;
    }

    .card__img_wrap{
        width: 80%;
        height: 100%;
    }

    .card__content{
        row-gap: 10px;
        height: 100%;
        flex: 1;
    }
    .card__content p{
        font-size: 1.1rem;
    }
}
@media (max-width: 768px) {
    .section_2{
        padding: 3.125rem;
    }

    .top__card,
    .bottom__card{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 4rem;
    }

    /* sections h2 */
    .sect_2__wrap h2,
    .sect__3__wrap h2,
    #sect__4__wrap h2,
    .footer__wrap h2{
        font-size: 2rem;
    }

    .burgar__card{
        width: 25rem; /*400px*/
        height: auto;/*600px*/
    }

    .card__img_wrap{
        width: 80%;
        height: 100%;
    }

}
@media (max-width: 480px) {
    .section_2{
        padding: 3.125rem;
    }

    .top__card,
    .bottom__card{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 4rem;
    }

    /* section h2s */
    .sect_2__wrap h2,
    .sect__3__wrap h2,
    #sect__4__wrap h2,
    .footer__wrap h2{
        font-size: 1.8rem;
        text-align: center;
    }

    .burgar__card{
        width: 20rem;
        height: auto;
    }

    .card__img_wrap{
        width: 80%;
        height: 100%;
    }

    .card__content h3{
        font-size: 1.3rem;
    }
    .card__content p{
        width:  100%;
        height: 100%;
        font-size: 1rem;
    }
    .card_bottom{
        height: 100%;
        align-items: flex-start;
    }
    .order__Rating{
        background-color: var(--color_orange_dk);
        border-radius: 15px;
        padding: 0.38rem 1rem;
    }
}




/* #### section 3 ##### */
#section_3,
#section_4,
#section_5{
    width: 100%;
    height: auto;
    padding:6.25rem; /*98px and 150px*/
}

.sect__3__wrap,
#sect__4__wrap,
#sect__5__wrap{
    /* this wrap everything inside of sec 3 */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* housing the the submenus */
.menu__section--wrap{
    width: 100%;
    height: 100%;
    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    -ms-overflow-style: none;
    scrollbar-width: none;
}
.menu__section--wrap::-webkit-scrollbar{
    display: none;
}

/* 
* this houses the menu list and the image display
*/
.burger__menu{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;
    
    width: 100%;
    height: 100%;
    display: flex;
}

/*burger menu list  */
.burger__menu__list{
    flex: 1 0 50%;
    width: 110%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.burger__menu__subMenu{
    width: 100%;
    height: auto;
}

.img__call{
    text-decoration: none;
    color: var(--white);
    transition: 1s 0.8s ease;
}

.submenu{
    list-style: none;
    width: 100%;
    height: 100%;
    display: flex;
    column-gap: 5rem;/*80px*/
    padding: 1rem;
}
.submen__list{
    perspective: 800px;
}
.submenu__link{
    text-decoration: none;
    font-size: 1.035rem;
    font-weight: 600;
    color: var(--text-color);
    transition: color 350ms ease-in,
    transform 330ms ease, 
    text-decoration 340ms ease,
    text-shadow 335ms ease
    ;
}
.submenu__link:hover{
    color: var(--color_yellow);
    text-decoration: underline;
    text-decoration-color: var(--color_yellow);
    text-underline-offset: 10px;
    text-shadow: 2px 3px 6px #f1f1f198;
    transform: scale(1.074);
}
.submenu__link:active{
    transform: translateZ(90px);
}

.active_subMenu{
    color: var(--color_yellow);
    text-decoration: underline;
    text-decoration-color: var(--color_yellow);
    text-underline-offset: 10px;
    text-shadow: 2px 3px 6px #f1f1f198;
    transform: scale(1.074);
}


/* this contains the toggle content */
.burger__menu__list__items{
    width: 100%;
    height: 100%;
    padding: 0.7rem 5rem 0.7rem 0px;
}

/* toggle container */
.toggle{
    width: 100%;
    height: auto;
    border-bottom: 1px solid var(--color_orange_dk);
    cursor: pointer;
}

.question{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    transition: font-size 460ms ease;
}

.toggle.actived .question{
    font-size: 0.855rem;
    color: var(--color_orange_dk);
}

.answer{
    max-height: 0;
    overflow: hidden;
    padding: 1rem 1rem 0px 1rem;
    color: #9e9d9d;
    line-height: 1.5;
    font-size: 1rem;
    transition: max-height 400ms ease, overflow 350ms ease;
}

.boldText{
    font-weight: 900;
    color: var(--text-color);
}
.toggle.actived .answer{
    max-height: 350px;
    overflow: visible;
    animation: toggleMe 1s ease-in-out;
}


@keyframes toggleMe {
    from{
        opacity: 0;
        transform: translateY(-12px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}




/* burger__menu__img */
.burger__menu__img{
    width: 100%;
    height: auto;
}

.burger__menu__img_wrap{
    width: 35rem;
    height: 100%;
    padding: 0px;

    display: flex;
    aspect-ratio: 16/9;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    perspective: 800px;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* #slid1,#slid2,#slid3,
#slid4,#slid5,#slid6{
    animation: fadeInImg 1s forwards;
    border: 6px solid yellow;
}

.fadeInImg{
    animation: fadeInImg 1.5s forwards;
} */

@keyframes fadeInImg {
    from{
        opacity: 0;
        transform: translateZ(-100px);
    }
    to{
        opacity: 1;
        transform: translateY(0px);
    }
}


/* this will remove the scroll bar in chrome */
.burger__menu__img_wrap::-webkit-scrollbar{
  display: none;
}


.burger__menu__img_wrap img{
    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: contain;
    object-position: center;
}
.burger__menu__img_wrap img{
    width: 80%;
    height: 100%;
    animation: imgFadeIn 1s .6s ease-in-out both;
}


@keyframes imgFadeIn {
    from{
        opacity: 0;
        transform: translateY(-30px);
    }to{
        opacity: 1;
        transform: translateY(0px);
    }
}

/* @media 992px */
@media (max-width: 992px) {

    #section_3{
        height: 100vh;
        padding: 3rem;
    }

/* 
    .burger__menu{
        flex-direction: column;
    } */

    .submenu{
      column-gap: 3rem;  
    }
    .burger__menu__img_wrap{
        width: 27.69rem;
    }
    .burger__menu__img_wrap img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /* fixed the added submenu */
}
@media (max-width: 767px) {

    #section_3{
        height: 100vh;
        padding: 3rem;

    }

    .question{
        font-size: 0.95rem;
    }
    .answer{
        font-size: 0.855rem;
    }

    .submenu{
      column-gap: 3rem;  
    }
    .burger__menu__img_wrap{
        width: 300px;
        height: 100%;
    }
    .burger__menu__img_wrap img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    /* fixed the added submenu */
}

@media (max-width: 480px) {
    #section_3{
        height: auto;
        padding: 1.5rem;
    }
    .submenu{
        column-gap: 2rem; 
        justify-content: center;
        align-items: center; 
    }

    .menu__section--wrap{
        height: 100vh;
    }

    .burger__menu{
        flex-direction: column;
    }

    .burger__menu__list{
        width: auto;
        justify-content: center;
        align-items: center;
        padding: 1rem;
    }
    .burger__menu__list__items{
        padding: 0.7rem;
    }
    .burger__menu__img{
        height: 100%;

    }

    .burger__menu__img_wrap{
        width: 100%;
        height: 100%;
    }
    .burger__menu__img_wrap img{
        object-fit: contain;
    }
}



/* ############################################### */
/* ########## section 4 ################### */

#section_4{
    height: auto;
    /* padding: 0px; */
}

#sect__4__wrap{
    height: auto;
    row-gap: 5rem;
}

.about__BurgerBite{
    width: 100%;
    height: 100%;
    display: flex;
}

.about__img,
.about__content{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about__img{
    align-items: flex-start;
}
.about__img img{
    width: 66%;
    /* height: 80%; */
    object-fit: cover;
}

/* about content styling */
.about__content{
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    align-items: center;
}
.about__content p{
    width: 90%;
    line-height: 35px;
    font-size: 1.2rem;
    word-spacing: 3px;
    text-align: left;
}
.about__content .boldText{
    font-family: var(--headers);
    text-transform: uppercase;
}

.about__link__wrap{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 1.3rem;
    /* perspective: 800px; */
}

.about__link__wrap a{
    text-decoration: none;
    width:  11.25rem;/*180px*/
    padding: 0.5625rem ;
    color: var(--text-color);
    border: 2px solid var(--color_orange_dk);
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6;
    transition: background-color 380ms ease-in-out,
    border 380ms ease, transform 390ms ease-in-out
    ;
}
.about__link__wrap a:hover{
    transform: scale(1.078);
    background-color: var(--color_orange_dk);
    color: var(--white); 
    border: none;
    opacity: 1;
}
.about__link__wrap a:active{
    transform: translateY(4px);
}


/* @media quiery  */
@media (max-width: 992px) {
    #section_4{
        padding: 50px;
    }
    #sect__4__wrap h2{
        text-align: center;
    }
    /* #sect__4__wrap{
        border: 1px solid green;
    } */
    .about__BurgerBite{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }
    .about__content{
        width: 100%;
    }
    .about__content p{
        width: 100%;
        text-align: justify;
    }
    .about__img {
        width: 100%;
        grid-column: 1/3;
    }
    .about__img img{
        width: 100%;
    }

    .about__link__wrap a{
        font-size: 1rem;
        width: 8rem;
        text-align: center;
    }
    .about__link__wrap a:nth-child(4),
    .about__link__wrap a:nth-child(5),
    .about__link__wrap a:nth-child(6)
    {
        margin-left: -9.375rem; /*-150px*/
    }
}
@media (max-width: 767px) {
    #section_4{
        padding: 50px;
    }
    #sect__4__wrap h2{
        text-align: center;
    }
    /* #sect__4__wrap{
        border: 1px solid green;
    } */
    .about__BurgerBite{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
    }
    .about__content{
        width: 100%;
    }
    .about__content p{
        width: 100%;
        text-align: justify;
    }
    .about__img {
        width: 100%;
        grid-column: 1/3;
    }
    .about__img img{
        width: 100%;
    }

    .about__link__wrap a{
        font-size: 0.95rem;
        width: 8rem;
        text-align: center;
    }
    .about__content .boldText{
        font-size: 1.1rem;
    }
}
@media (max-width: 480px) {
    #section_4{
        padding: 50px;
    }
    /* #sect__4__wrap{
        border: 1px solid green;
    } */
    .about__BurgerBite{
        display: flex;
        flex-direction: column;
        gap: 25px;
    }
    .about__content{
        width: 100%;
    }
    #sect__4__wrap h2{
        width: 100%;
    }

    .about__content p{
        width: 100%;
        font-size: 0.955rem;
        text-align: justify;
    }
    .about__img {
        width: 100%;
        grid-column: 1/3;
    }
    .about__img img{
        width: 100%;
    }

    .about__link__wrap{
        grid-template-columns: repeat(2, 1fr);
        z-index: 3;
        justify-content: center;
        gap: 10px;
    }
    .about__link__wrap a{
        font-size: 0.95rem;
        width: 9rem;
        padding: 0.4rem;
        text-align: center;
    }
    .about__content .boldText{
        font-size: 1.1rem;
    }
    .about__link__wrap a:nth-child(4),
    .about__link__wrap a:nth-child(5),
    .about__link__wrap a:nth-child(6)
    {
        margin-left: 0px;
    }
}




/* ################################ */
/* ### section 5 */

#sect__5__wrap{
    row-gap: 40px;
}

.testimonial{
    width: 700px;
    /* height: 350px; */


    display: flex;
    align-items: center;
    justify-content: flex-start;
    /* padding: 25px 1.1rem; */
    /* border: 3px solid yellow; */

    aspect-ratio: 16/9;
    overflow: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    -ms-overflow-style: none;
    scrollbar-width: none;

}

.testimonial::-webkit-scrollbar{
    display: none;
}

.testimonies{
    width: 100%;
    height: auto;
    background-color: #111;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 25px 1.1rem;

    flex: 1 0 100%;
    scroll-snap-align: start;
    object-fit: cover;

    animation: slide 16s infinite;
}


@keyframes slide {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(0);
    }
    30%{
        transform: translateX(-100%);
    }
    50%{
        transform: translateX(-100%);
    }
    55%{
        transform: translateX(-200%);
    }
    75%{
        transform: translateX(-200%);
    }
    80%{
        transform: translateX(-300%);
    }
    100%{
        transform: translateX(-300%);
    }
}

.review__content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;/*40px*/
}
.review__content p{
    width: 65%;
    line-height: 30px;
    color: var(--text-color);
}
.review__content span{
    font-weight: 900;
    font-size: 1.2rem;
}

.review__img__wrap{
    width: 100%;
    height: 100%;
    position: relative;
    /* border: 1px solid green; */
}
.review__img img{
    width: 335px;
    object-fit: cover;

    position: absolute;
    top: -126px;
    right: -70px;
    border-bottom-right-radius: 15px;
}

#test_2, #test_4{
    width: 250px;
    height: 250px;
    object-position: top;
    top: -146px;
    right: -48px;
}

#test_3{
    width: 206px;
    height: 300px;
    object-position: top;
    top: -200px;
    right: -10px;
}


/* ###################################### */
/* ### media query @767px */

@media (max-width: 767px) {
    .testimonial{
        width: 31.25rem;/*500px*/
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }

    .review__img img{
        width: 11.25rem;/*180px*/
        top: -4px;
        left: -8.375rem;/*-134px*/
    }
    #test_2{
        width: 11.25rem;/*180px*/
        height: 9.375rem; /*150px*/
        top: -35px;
        left: -8.75rem;/*140px*/
    }
    #test_4{
        width: 11.25rem;/*180px*/
        height: 9.375rem;/*150px*/
        top: -32px;
        left: -8.75rem;/*140px*/
    }
    #test_3{
        width: 10rem; /*160px*/
        height: 12.5rem;/*200px*/
        /* height: 200px; */
        top: -5.125; /*82px*/
        left: -8.625;/*-138px*/
    }

    .review__content p {
        font-size: 1rem;
    }
}
@media (max-width: 480px) {
    .testimonial{
        width: 21.875rem;/*1350px*/
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
    }

    .review__img img{
        width: 11.25rem;/*180px*/
        top: -2.8125rem;/*45px*/
        left: -8.375rem;/*134px*/
    }
    #test_2{
        width: 11.25rem; /*180px*/
        height: 9.375rem;/*150px*/
        top: -4.6875rem;/*75px*/
        left: -8.75rem;/*140px*/
    }
    #test_4{
        width: 11.25rem;/*180px*/
        height: 9.375rem;/*150px*/
        top: -77px;/*32px*/
        left: -8.75rem; /*140px*/
    }
    #test_3{
        width: 10rem;/*160px*/
        height: 12.5rem;/*200px*/
        /* height: 200px; */
        top: -126px;/*180px1*/
        left: -9rem;/*180px*/
    }

    .testimonies{
        padding: 0.5rem 0.9rem;
    }

    .review__content{
        row-gap: 0.8rem;
    }
    .review__content p {
        font-size: 0.855rem;
        line-height: 20px;
    }
    .review__content span{
        font-weight: 900;
        font-size: 1rem;
    }
}



/* ################################## */
/* ###### section 6 ############### */

#section_6{
    width: 100%;
    height: auto;
    padding: 3.125rem 0px;
    /* border: 2px solid yellow; */
}

#sect__6__top{
    width: 100%;
    height: 100%;
    padding: 0px 6.25rem;
    display: flex;
    justify-content: space-between;
}


#newsletter{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}
#newsletter p{
    font-size: 1.3rem;
}
#newsletter .orangeCol,
#newsletter .yellowCol{
    font-size: 1.4rem;
}

#email__wrap{
    width: 100%;
    height: 100%;
    display: flex; 
    justify-content: content;
    align-items: center;
    /* position: relative; */
    /* border: 2px solid yellow; */

}

#emailForm{
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;

    position: relative;
}

input[type=text]{
    width: 100%;
    height: 46px;
    border: none;
    outline: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: var(--white);
    padding: 6px 4px 6px 3rem;
    font-size: 1.1rem;
    color: #222;
    font-family: var(--headers);
}

::placeholder{
    font-size: 1rem;
    color: var(--color_orange_dk);
}

input[type=submit]{
    width: 10rem;
    height: 40px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: var(--color_orange_dk);
    color: var(--white);
    border: none;
    outline: none;
    font-size: 1.1rem;
    font-family: var(--headers);
    letter-spacing: 2px;
    cursor: pointer;
    
    position: absolute;
    top: 20px;
    right: 35px;

    transition: transform 360ms ease-in,
    background-color 250ms ease-out
    ;
    
}

input[type=submit]:hover{
    transform: scale(1.079) translateX(-5px);
}
input[type=submit]:active{
    transform:translateY(4px);
    background-color: var(--color_orange_lit);
}

/*error message if email is not correct  */
.error__msg{
    width: 100%;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: red;
    font-size: 0.866rem;
}

.error{
    border:1px solid red ;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.success{
    border-color:1px solid green;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}



/* slides */
#sect__6__bottom{
    width: 100%;
    height: 21.875rem;
    position: relative;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    animation: slide 14s infinite;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}


@media (max-width: 768px) {
    #sect__6__top{
        padding: 2rem 0.5rem;;
    }

    #emailForm{
        padding: 0.5rem;
    }
    input[type=text]{
        font-size: 0.95rem;
        padding: 3px 4px 3px 2rem;
    }
    ::placeholder{
        font-size: 0.9rem;
        font-weight: 600;
    }

    input[type=submit]{
        width: 6.25rem;
        font-size: 0.8rem;

        /* positioning */
        top: 11px;
        right: 10px;
    }
}

@media (min-width: 769px) {

    .swiper-slide:first-child {
      transition: transform 100ms;
    }

    .swiper-slide:first-child img {
      transition: box-shadow 500ms;
    }

    .swiper-slide.swiper-slide-active:first-child {
      transform: translateX(50%);
      z-index: 2;
    }

    .swiper-slide.swiper-slide-active:first-child img {
      box-shadow: 0px 32px 80px rgba(0, 0, 0, 0.35);
    }

    .swiper-slide:nth-child(2) {
      transition: transform 100ms;
    }

    .swiper-slide.swiper-slide-next:nth-child(2) {
      transform: translateX(55%);
      z-index: 1;
    }

    .swiper[dir="rtl"] .swiper-slide.swiper-slide-active:first-child {
      transform: translateX(-50%);
    }

    .swiper[dir="rtl"] .swiper-slide.swiper-slide-next:nth-child(2) {
      transform: translateX(-55%);
    }
}

@media (max-width: 480px) {
    #sect__6__top{
        padding: 0px 0.5rem;;
        flex-direction: column;
    }
    #emailForm{
        padding: 0.5rem;
    }
    input[type=text]{
        font-size: 0.95rem;
        padding: 3px 4px 3px 2rem;
    }
    ::placeholder{
        font-size: 0.9rem;
        font-weight: 600;
    }

    input[type=submit]{
        width: 100px;
        font-size: 0.8rem;

        /* positioning */
        top: 11px;
        right: 10px;
    }

    .swiper-slide {
        animation: slideMore 16s infinite;
    }

    @keyframes slideMore {
        0%{
            transform: translateX(0);
        }
        20%{
            transform: translateX(0);
        }
        25%{
            transform: translateX(-100%);
        }
        30%{
            transform: translateX(-100%);
        }
        35%{
            transform: translateX(-200%);
        }
        40%{
            transform: translateX(-200%);
        }
        55%{
            transform: translateX(-300%);
        }
        60%{
            transform: translateX(-300%);
        }
        65%{
            transform: translateX(-400%);
        }
        70%{
            transform: translateX(-400%);
        }
        75%{
            transform: translateX(-500%);
        }
        80%{
            transform: translateX(-500%);
        }
        85%{
            transform: translateX(-600%);
        }
        90%{
            transform: translateX(-600%);
        }
        95%{
            transform: translateX(-700%);
        }
        100%{
            transform: translateX(-700%);
        }
    }
}

/* #################### */
/* ### foooter  */
.footer{
    width: 100%;
    height: auto;
    padding: 3rem 0px 0px 0px;
    background-color: #111
}

.footer__wrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.orangeCol_footer{
    color: var(--color_orange_dk);
    font-size: 1.8rem;
}
.yellowCol_footer{
    color: var(--color_yellow);
    font-size: 2rem;
}

.footer__content{
    width: auto;
    /* height: 100%; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-evenly;
    align-content: center;
    gap: 10px;
    column-gap: 150px;
    padding: 1rem;
}

/* footer card */
.footer__card{
    width: 250px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1.2rem;
}

.footer__card h3{
    font-family: var(--headers);
    font-weight: 500;
    font-size: 1rem;
    text-decoration: underline;
    text-decoration-color: #8a3e04a2;
    text-underline-offset: 10px;
}

.footer__card span{
    display: flex;
    flex-direction: column;
    row-gap: 0.7rem;
}
.footer__card span a{
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
    transition: font-weight 350ms ease-in,
        text-decoration 370ms ease-in,
        transform 350ms ease-in
    ;
}
.footer__card span a:hover{
    transform: scale(0.9);
    font-weight: 600;
    animation: fadeIN_line 0.7s 0.2s ease-in;
}

@keyframes fadeIN_line {
    from{
        opacity: 0;
        text-decoration: underline;
        text-underline-offset: 12px;
    }to{
        opacity: 1;
        text-decoration: underline;
        text-underline-offset: 12px;
    }
}
 

.address{
    grid-column: 1/2;
}

.opening{
    grid-column: 2/3;
}
.menuBurger{
    grid-column: 3/4;
    grid-row: 1/3;
}

.bottom__fotter{
    width: 100%;
    margin-top: 100px;
    padding: 1rem;
    text-align: center;
    background-color: #000;
}

.orangCol{
    color: var(--color_orange_dk);
}
.yelCol{
    color: var(--color_yellow);
}

/* footer media queiry 767px */
@media (max-width: 767px) {
    
    .footer{
        width: 100%;
        height: auto;
        padding: 3.125rem 0px 0px;
    }

    .footer__content{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2, 1fr);
        column-gap: 10px;
        padding: 0px 3.5rem;
    }

    .footer__card{
        row-gap: 0.5rem;
    }

    .address{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .opening{
        grid-column: 2/3;
    }
    .menuBurger{
        grid-column: 1/3;
        grid-row: 3/3;
    }

    .bottom__fotter{
        margin-top: 2.5rem;
    }
}
@media (max-width: 480px) {
    
    .footer{
        width: 100%;
        height: auto;
        padding: 3.125rem 0px 0px;
    }

    .footer__content{
        width: 100%;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 0px 1rem;
    }

    .footer__card{
        width: max-content;
        row-gap: 0.5rem;
        /* text-align: center; */
    }
    .footer__card p{
        font-size: 0.85rem;
        width: 130px;
    }

    .address{
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    .opening{
        grid-column: 2/3;
    }
    .menuBurger{
        /* width: 100%; */
        grid-column: 1/3;
        grid-row: 3/3;
        /* margin: auto;
        text-align: center; */
    }

    /* .footer__card span {
        width: auto;
        flex-direction: row;
        column-gap: 1rem;
    } */
    .footer__card span a{
        font-size: 0.9rem;
    }

    .footer__wrap p {
        margin-top: 1rem;
        font-size: 0.8rem;
    }
}








